{% load static i18n %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Trend Egypt CRM{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}


      <!-- Your stuff: Third-party CSS libraries go here -->

      <!-- This file stores project-specific CSS -->

      <link href="{% static 'css/project.min.css' %}" rel="stylesheet">


    {% endblock %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
</head>

<body>

<div>

  <ul class="nav nav-tabs">
    <div style="width: 200px; float: left; background-color: #0f6674">&nbsp;</div>
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'home' %}">
        <div class="float-left"><i class="material-icons md-48 grey">account_circle</i></div>
        <div class="float-right">Client <br>Manager <span class="sr-only">(current)</span></div>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">
        <div class="float-left"><i class="material-icons md-48 grey">computer</i></div>
        <div class="float-right">Device <br> Manager</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">
        <div class="float-left"><i class="material-icons md-48 grey">shopping_cart</i></div>
        <div class="float-right">Order <br> Manager</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">
        <div class="float-left"><i class="material-icons md-48 grey">monetization_on</i></div>
        <div class="float-right">Sales <br> Manager</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">
        <div class="float-left"><i class="material-icons md-48 grey">pie_chart</i></div>
        <div class="float-right">Reports <br> and Stats</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">
        <div class="float-left"><i class="material-icons md-48 grey">settings_applications</i></div>
        <div class="float-right">Setup <br> and Admin</div>
      </a>
    </li>

  </ul>
</div>

</div>
<div class="toolbar">
  <div class="float-left"><b>You are here:</b>
    <select name="" id="">
      <option value="">Hivelocity</option>
    </select>
    <a href="">Client Manager</a></div>
  <div class="float-right">
    Search
    <select name="" id="">
      <option value="">Client Managaer</option>
    </select>
    for
    <input type="text"/>
  </div>
</div>
<div class="header">
  <div class="float-left"><i class="material-icons md-48 white">account_circle</i></div><h3 style="padding-top: 5px; padding-left: 70px;">Client Manager</h3>
</div>

<div class="container">
    {% block content %}

    {% endblock content %}

</div> <!-- /container -->

{% block modal %}{% endblock modal %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}

  <!-- Vendor dependencies bundled as one file-->

  <script src="{% static 'js/vendors.js' %}"></script>



  <!-- place project specific Javascript in this file -->

  <script src="{% static 'js/project.js' %}"></script>


{% endblock javascript %}
</body>
</html>

